@model TrueNetFinalProject.Models.OrderItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.productId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.productId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.orderId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.orderId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.productId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
